div.L3eUgb {
  background-image: url("https://www.wallpapertip.com/wmimgs/5-53557_wallpaper-hd-1080p-mikael-gustafsson.jpg");
}

div.o3j99.n1xJcf.Ne6nSd {
 background: rgba(255, 255, 255, .7);
}

a {
  color: slateblue !important;
  font-weight: bold;
}